Package: libssh
Version: 0.7.6-1
Depends: openssl
Architecture: x64-windows
Multi-Arch: same
Description: libssh is a multiplatform C library implementing the SSHv2 and SSHv1 protocol on client and server side
